<form class="storm sheet item storm-item-sheet" autocomplete="off">
  <header class="header">
    <div class="item-name">
      <label>Name</label>
      <input type="text" name="name" value="{{item.name}}" placeholder="Name"/>
    </div>
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
  </header>
  <section class="sheet-body">
    {{#if (eq item.type "skill")}}
      <div class="form-group">
        <label>Description</label>
        <textarea name="system.description">{{item.system.description}}</textarea>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>Category</label>
          <select name="system.type">
            {{selectOptions config.skillTypeChoices selected=item.system.type}}
          </select>
        </div>
        <div class="form-group">
          <label>Base Chance (%)</label>
          <input type="number" name="system.base" value="{{item.system.base}}" />
        </div>
      </div>
    {{/if}}

    {{#if (eq item.type "weapon")}}
      <div class="form-group">
        <label>Damage</label>
        <input type="text" name="system.damage" value="{{system.damage}}"/>
      </div>
    {{/if}}
  </section>
</form>
